body{
    background-image: url(tpm3.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center ;
    padding: 5px;
    
}



#contener{
    background-image: url(tpm1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center ;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    border-bottom: 8px solid rgb(6, 240, 6);
}

#E-Music{
   color: white;
   padding-left: 15px;
   margin-top: -1.5%;
   font-weight: bold;
}

#E-Music #heading span{
    color:rgb(6, 240, 6) ;
    font-size: 70px;
    
}

#E-Music #heading{
    font-size: 40px;
}


ul{
    padding-left: 28%;
    display: flex;
    align-items: center;
    
}

ul li{
    list-style: none;
    margin-left: 90px;
    margin-top: -112px;

}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 4px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    
}

ul li a:hover{
    color: rgb(6, 240, 6);
    border: 2px solid rgb(6, 240, 6);
}

#search{
    margin-left: 28%;
    width: 330px;
    padding-top: 1%; 
}

#src{
    width: 600px;
    height: 50px;
    border: 3px solid white;
    border-radius: 25px;
    background: transparent;
    font-family: 'Times New Roman', Times, serif0;
    font-size: 20px;
    padding: 10px;
    color: white;
    transition: 0.3s ease-in-out;
}

#src:hover{
    border: 4px solid rgb(6, 240, 6);
}

#para{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5%;
}

#btn{
    padding-left: 74.5%;
    margin-top: -3.79%;

}
#btn a button{
    width: 90px;
    height:50px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid  rgb(6, 240, 6);
    border-radius: 25px;
    background-color: rgb(6, 240, 6);


}

#form{
    width: 260px;
    height: 320px;
    background: linear-gradient(to top, rgba(0,0,0,0.7)50%,rgba(0,0,0,0.7)50%); ;
    border-radius: 20px;
    padding: 25px;
    margin-top: 15%;
    margin-left: 74%;

}

#form h2{
    color:rgb(6, 240, 6) ;
    font-family: sans-serif;
    text-align: center;
    border: solid white;
    border-radius: 10px;
    padding: 8px;
    background-color: white;
}

#form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(157, 241, 157);
    border-top: none;
    border-right: none;
    border-left: none;
    color: aliceblue;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

#form input:focus{
    outline: none;
}

#form button{
    width: 260px;
    height: 45px;
    margin-top: 10%;
    font-size: 17px;
    background-color:rgb(6, 240, 6);
    border: none;
    border-radius: 10px;
    
    
}

#form button a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#topic{
    margin-top: -34%;
    padding-bottom: 13%;
}
.left, .right {
    float: left;
    width: 20%; /* The width is 20%, by default */
  }
  
  .main {
    float: left;
    width: 60%; /* The width is 60%, by default */
  }
  
  /* Use a media query to add a breakpoint at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
#topic h1{
    color: white;
    margin-top: -28%;
    font-size: 60px;
}

#topic h1 span{
    font-size: 70px;
    color:rgb(6, 240, 6);
}

#topic p{
    margin-top: -3%;
    color: white;
    font-size: 22px;
}

#topic button{
    width: 130px;
    height: 40px;
    margin-top: 3%;
    border: 3px solid rgb(6, 240, 6);
    border-radius: 10px;
    background-color: rgb(6, 240, 6);
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

#topic button:hover{
    background-color: white;
}

#topic button a{
    color: black;
    text-decoration: none;
    
}